.container{
    width: 70%;
    margin: auto;
    background: #dee6ed;
}

.header{
    background: #d9d9d9;
    padding: 10px 10px 20px 10px;
    display:grid;
    grid-template-columns:2fr 1fr 2fr;
    grid-gap:1em;
}

/* lastball */
.lastBall_container{
    display:grid;
    grid-template-columns:1fr 1fr;    
    padding:10px;
    text-align: center;
}

.lastBall_div{
    background: white;
    border:3px #1a58d2 solid;
    border-radius:10px;
    width:70px;
    display: flex;
    align-items: center;
    justify-content: center
}

.lastBall_div p{
    font-size: 30px;
    font-weight: bold;
    color: #1a58d2;
    margin: 0;
}

/* preball */
.preBall_container{
    display:grid;
}

.preBall_container .title{
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.preBall_div{
    background: white;
    border-radius:5px;
    width:70%;
    display: flex;
    align-items: center;
    justify-content: center    
}

.preBall_div p{
    font-size: 20px;
    color: #1a1a1a;
    margin: 0;
}

.preBall_subcontainer{
    display:grid;
    grid-template-columns:repeat(5, 1fr);
}



/* ticket */
.ticket_container{
    padding:3%;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:2em;
}

.ticket{
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    cursor: pointer;
    position: relative;
}

.ticket .ticket_hoverButton{
    border: 0px;
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.ticket:hover .ticket_hoverButton{
    visibility: visible;
    opacity: 0.9;
}


.ticket div{
    border:1px #999999 solid;
    background:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #1a1a1a;
}
   
.ticket .selected{
    background: #1a58d2;
    color:white;
}

.ticket .isBingo{
    font-size: 100px;
    font-weight: bold;
    background: transparent;
    opacity: 0.6;
    border: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(20deg);
}
